<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New ThinkJS Application</title>
<style>
*{padding: 0;margin: 0;font-size: 16px;line-height: 20px;font-family: arial;}
a, a:visited{color:#337ab7;text-decoration: none;}
header{padding: 70px 0 70px 0;background-color: #4A6495}
h1{font-size: 36px;color:#fff;font-weight: normal;}
code{  padding: 2px 4px;font-size: 90%;color: #c7254e;background-color: #f9f2f4;border-radius: 4px;}
</style>
  <link rel="stylesheet" href="a.css">
  <link rel="stylesheet" href="a.css?__inline">
  <link rel="others" href="aaaa">
  <script src="//a.alipayobjects.com/??amui/zepto/1.1.3/zepto.js"></script>
  <script src="//a.alipayobjects.com/??amui/zepto/1.1.3/zepto.js?__inline"></script>
</head>
<body>
  <header>
    <div class="wrap">
      <h1>A New App Created By ThinkJS</h1>
    </div>
  </header>
  <img src="ssss" alt="aaaa">
  <img src="xxxxx?__inline" alt="">
  <script>alert(1234)</script>
  <script>alert("__inline")</script>
  <script>alert(6677)</script>
<!--inline[111]-->
<!-- hahhaha -->
</body>
</html>